
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}
.main{
    padding: 0 20px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(images/image2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(7, 6, 0, 0.82);
    text-align: center;
    line-height: 1.4;
    font-size: 16px;
}
p, h2, h3, h4, h5, ol, ul, li, figcaption {
    font-size: inherit; 
    font-family: inherit;
    font-weight: lighter;
}

.fillimg{
    width: 100%;
    height:auto;
    display: block;
}
.center {
    text-align: center;
}

.picsize {
    width: 600px;
    margin: 5px auto;

}
figcaption {
    font-style: italic;
    margin-top: 5px;
    color: #333;
}
.tableau-container {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}
.section{
    background-color:rgb(158, 210, 247, 0.4);
    margin: 0;
    padding: 20px;
    text-align: left;
    width: 100%
}
.site-header {
    background-color: rgb(158, 210, 247, 0.4);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
    text-align: center;
}
/* copied navbar css from my professional page */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
}
/* got help from AI to format video on the page */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 100px;
    overflow: hidden;
    margin: 20px 0;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.npswebpage{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 20px 0;
}
.npswebpage iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#middle{
   text-align: left; 
}